<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Détails du Programme</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1 th:text="${programme.nomProgrammeTherapeutique}">Nom du Programme</h1>

    <h2>Activités associées</h2>
    <ul>
        <li th:each="activite : ${programme.activites}">
            <strong th:text="${activite.nomActivite}">Nom de l'activité</strong>

            <p><strong>Discipline :</strong> <span th:text="${activite.discipline}">Discipline</span></p>
            <p><strong>Description :</strong> <span th:text="${activite.description}">Description de l'activité</span></p>
            <p><strong>Durée :</strong> <span th:text="${activite.duree}">Durée</span> minutes</p>

            <!-- Affichage de l'adresse complète -->
            <p><strong>Adresse :</strong></p>
            <p>
                <span th:text="${activite.numeroDeRue}">Numéro</span>,
                <span th:text="${activite.rue}">Rue</span>,<br>
                <span th:text="${activite.ville}">Ville</span>,
                <span th:text="${activite.pays}">Pays</span>
            </p>
        </li>

    </ul>

    <a href="/dashboard" class="btn btn-secondary">Retour au Tableau de Bord</a>
</div>
</body>
</html>
